#game-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 4px solid #333;
  border-radius: 5px;
}

.container {
  flex: 0 0 70%;
  display: flex;
  padding-right: 50px;
  flex-direction: column;
}

.block {
  flex: 0 0 33.33333333%;
  height: 150px;
}

.square {
  width: 100%;
  height: 100%;
  border: 4px solid #333;
  padding: 10px;
  background: rgba(95, 158, 160, 0.95);
  font-size: 75px;
  font-weight: bold;
  color: #000;
  line-height: 1;
  cursor: pointer;
}

.square:disabled {
  cursor: default !important;
}

.block:nth-child(2n) .square {
  background: rgba(234, 234, 234, 0.95)
}

.msg {
  color: #fff;
  padding: 10px;
  font-size: 22px;
  border-radius: 4px;
  font-weight: 500;
}

.error-msg {
  background: rgba(204, 0, 0, 0.95);
}

.info-msg {
  background: rgba(0, 121, 107, 0.95);
}